modules = ["web", "python-3.12", "nodejs-20"]
run = "gunicorn main:app --bind 0.0.0.0:5000"

[nix]
channel = "stable-24_05"
packages = ["cacert", "glibcLocales", "libxcrypt"]

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = ["sh", "-c", "gunicorn app:app --bind 0.0.0.0:5000 --workers 4 --timeout 120"]

[workflows]
runButton = "Run Flask"

[[workflows.workflow]]
name = "Run Flask"
author = 41810163
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn app:app --bind 0.0.0.0:5000"
